<h1>future login?</h1>


<%= form_for(:session, url: login_path) do |f| %>
<%= f.text_field :username, placeholder: "Username"%><br>
<%= f.password_field :password, placeholder: "password" %><br>
<%= f.submit "enter" %>
<% end %>
