

<div class="search-form">

<%= form_tag('/restaurants', method: :get) %>
<%= text_field_tag :q ,nil, :placeholder => "Restaurant name" %>
<%#= text_field_tag(:a) %><!-- <br> -->
<%= submit_tag "search", name: nil, class: "btn btn-success eyeglass" %>
</div>
