// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-post{
 height: 255.867px;
 width: 455.283px;
// padding-bottom: 71px;
padding-left: 15px;
}

.restaurant{
  display: flex;
  background-color: #34495e;

}

.restaurant h1{
  color: white;
  text-align: center;
}

.restaurant span{
  color: white;
  font-size: 20px;
  padding-left: 15px;
}

.search-res{
  text-align: center;
}

.search-res a{
  color: white;
  font-size: 35px
}

.search-res span{
  color: white;
  font-size: 20px;
}

.color{
  background-color: #1E2F39;
  height:100vh;
}

  body{
  // background-color: #1E2F39;
  padding: 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
 }


.search-bar{

  padding-left: 41px;
}

.search-bar img{
  width: 4%;
  position: absolute;
  left: 17px;
  top: 77px;
  padding-right: 11px;
}


input#search{
  width: 80%;

  font-size: 20px;
}

input.eyeglass{
  width: 10%;
  background-color: #d35400;
  color: white;
  line-height: 27px;
  font-size:20px;
  margin-bottom: 8px;
  border: 1px solid #863600;
  height: 39px;
}

input.eyeglass:hover{
  background-color: #AC4400;
  border-color: #AC4400;
}

.search-form{
  padding-top: 10px;
}

.search-form form{
  margin-left: 28px;


}
