// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="radio"] {
  display:none;
}

.rtitle{
font-size: 20px;

}

 label:before {

 content: '★ ';
 font-size: 20px;

}

.review-details{
  font-size: 22px;
  margin-top: 58px;
}
.star:after{
 content: '★ ';
 color: #f70;
}

.gif-image{
  // background-image:url("http://cdn.lowgif.com/small/02827829fd94530b-space-flat-buscar-con-google-tank-think-pinterest-color-pick.gif");
border-radius: 50%;
background-repeat: no-repeat;
width:23px;
position: absolute;
z-index: 1;
top: 40px;
left: 10px;
height: 22px;
}

.tips a:visited{
  color: #f1c40f;
}


input[type="radio"]:checked + label {
  color:#f70;
}

#review_role{
  width: 35%;

}

input[type="radio"]:not(:checked) + label:hover{
color: #f70;
}

.restaurant-review-title{
position: absolute;
top: 41px;
font-size: 22px;
font-weight: lighter;

}

.back-button{
  color: #ce0e0e;
  margin-top: 1%;
  font-size: 46px;
  margin-left: 20px;
}



@keyframes backAnimation{
  0% {right: 5px}
  40%{right: 10px}
  100%{right: 20px}
}

.back-button:hover{
  animation: backAnimation 0.4s infinite;
  text-decoration: none;
}



