// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.rtitle{
font-size: 20px;

}

.review-details{
  font-size: 22px;
  margin-top: 58px;
}

label.star{
  color: #444;
}

.stars:before{
  content: '★';
  color: #FD4;
  font-size:17px;
}

 label.star:before {

 content: '★ ';
 font-size: 20px;

}


input[type="radio"] {
  display:none;
}

input.star:checked ~ label.star:before {
  content: '★';
  color: #FD4!important;
}


label.star-2{
  color: #444;
}


 label.star-2:before {

 content: '★ ';
 font-size: 20px;
// color: #444
}


input[type="radio"] {
  display:none;
}

input.star-2:checked ~ label.star-2:before {
  content: '★';
  color: #FD4!important;
}

label.star-3{
  color: #444;
}


 label.star-3:before {

 content: '★ ';
 font-size: 20px;
// color: #444
}


input.star-3:checked ~ label.star-3:before {
  content: '★';
  color: #FD4!important;
}


.star-content{
  display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
max-width: 541px;
position: relative;
left: -10px;
}

label.star-4{
  color: #444;
}


 label.star-4:before {

 content: '★ ';
 font-size: 20px;
// color: #444
}


input.star-4:checked ~ label.star-4:before {
  content: '★';
  color: #FD4!important;
}


// input[type="radio"]:checked ~ label.star:after {
//   color:#f70;
//   content: '★'
// }

input[type="radio"]:not(:checked) + label:hover{
color: #FD4;
}

.tips a:visited{
  color: #f1c40f;
}

#review_role{
  width: 35%;

}

.restaurant-review-title{
position: absolute;
top: 41px;
font-size: 22px;
font-weight: lighter;

}

.back-button{
  color: #ce0e0e;
  margin-top: 1%;
  font-size: 46px;
  margin-left: 20px;
}



@keyframes backAnimation{
  0% {right: 5px}
  40%{right: 10px}
  100%{right: 20px}
}

.back-button:hover{
  animation: backAnimation 0.4s infinite;
  text-decoration: none;
}



