// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//login page styles
section{
  text-align: center;
background-color: #2c3e50;
padding: 25%;
height: 94vh;
margin-top: 25px;

}

input#session_username{
  font-size:22px;
  width: 80%;

}

input#session_password{
  font-size: 22px;
  width: 80%;
}

section:after{
 content: ' ';
background-color: white;
height: 2%;
position: absolute;
z-index: 1;
width: 29%;
top: 596px;
left: 80%;
transform: skewY(140deg)
}

input.login-btn{
  width:80%;
  font-size: 20px;
  background-color: #e67e22;
  color: white;

  border: 2px solid #f57018;
}

input.login-btn:hover{
  background-color: #d35400;
  border-color: #d35400;
}
//signup form styles

.signup{
  text-align: center;
  // padding-top: 50px;
  background-color: #F9FFF5;
}


form#new_user input{
  margin-top: 10px;
  width:26%;
  font-size: 20px;
}



.auth-title{
  background-color: #34495e;
  margin-top: -69px;

 height: 137px;
}

select#user_position{
  width: 46%;
}

main.log-in-form {
  text-align: center;

  label::before{
    content: none;
  }
}

  label.remember-me {
    position: absolute;
    right: 41%;
    font-weight: normal;
  }
  div.field.container.form-con.log-in-form label{
  position: absolute;
  color:white;
  margin-top: 6px;
}

.shared-signup{
  color: white;
  font-size: 17px;

  &:hover{
    color: #a63d32;
    text-decoration: none;
  }
}


h2.auth-title{
color: white;

margin-top: 0;

text-align: center;
padding-top: 37px;

font-size: 52px;
}

form#new_user.new_user{
  padding-bottom: 217px;
}

input.btn.btn-primary.sign{
  background-color: #e67e22;
  border-color:#d35400;
  border: 2px solid #f57018
}

input.btn.btn-primary.sign:hover{
    background-color: #d35400;
  border-color: #d35400;
}
